PORT=3001
# PostgreSQL
DATABASE_URL="postgresql://postgres:7894108708King@localhost:5432/dna_architect?schema=public"

# Storage Provider: 'local', 'gcp', or 'r2'
# STORAGE_PROVIDER=local
STORAGE_PROVIDER=r2

# GCP (Legacy/Optional)
GCP_PROJECT_ID=
GCP_BUCKET_NAME=

# Cloudflare R2
R2_ACCOUNT_ID=1b3a3efc3095b3ab19f6ad7ce81aecb6



# --- Cloudflare R2 Configuration ---
# Your Cloudflare Account ID (32-character string)
# CLOUDFLARE_ACCOUNT_ID=1b3a3efc3095b3ab19f6ad7ce81aecb6


# R2 API Token Credentials (created in the Cloudflare Dashboard)
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# The name of the specific R2 bucket you created to store the images
R2_BUCKET_NAME=storage-area1
# https://1b3a3efc3095b3ab19f6ad7ce81aecb6.r2.cloudflarestorage.com/storage-area1


R2_PUBLIC_URL=https://pub-f26145eb82414c89a0aef190222e6cb9.r2.dev
# R2_PUBLIC_URL=https://sanjaydev.online

