


# --- Cloudflare R2 Configuration ---
# Your Cloudflare Account ID (32-character string)
CLOUDFLARE_ACCOUNT_ID=1b3a3efc3095b3ab19f6ad7ce81aecb6

# R2 API Token Credentials (created in the Cloudflare Dashboard)
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# The name of the specific R2 bucket you created to store the images
R2_BUCKET_NAME=storage-area1
# https://1b3a3efc3095b3ab19f6ad7ce81aecb6.r2.cloudflarestorage.com/storage-area1


# --- NEW: Custom Domain ---
# Set this to your public domain root (no trailing slash)
R2_CUSTOM_DOMAIN=https://sanjaydev.online